.like-btn {
  width: 10px;
  padding: 10px;
  border: 1px solid grey;
  cursor: pointer;
  background-color: cadetblue;
  // 滑鼠到了會變成指頭
}

.like{
  width: 10px;
  padding: 10px;
  border: 1px solid grey;
  background-color: #ffa;
}

h1{
  font-size: 40px;
}