.like-btn {
  width: 30px;
  padding: 30px;
  border: 1px solid grey;
  cursor: pointer;
  // 滑鼠到了會變成指頭
}

.like{
  width: 30px;
  padding: 30px;
  border: 1px solid grey;
  background-color: aquamarine;
}